services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"

  backend:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
    command: dotnet watch run
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - MongoDB__ConnectionString=mongodb://mongo:27017
      - MongoDB__DatabaseName=CalendarDb
    depends_on:
      - mongo

  frontend:
    image: node:20-alpine
    container_name: frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_TARGET=http://backend:8080
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5174:5173"
    depends_on:
      - backend
